body{
    background-color: rgb(255, 255, 255);
}

h1{
    color: rgb(211, 0, 0);
    background-color: black;
    text-align: center;
}

h2{
    color: rgb(211, 0, 0);
    background-color: rgb(89, 89, 231);
    text-align: center;
}

h3{
    color: black;
}